<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{index :: sidebar}"></div>

<div class="content">
    <div class="container mt-4">
        <h2>Agendar Atendimento</h2>
        <form th:action="@{/agendamento/salvar}" method="post">

            <input name="id" th:value="${agenda.id}" type="text" hidden="true">

            <div class="mb-3">
                <label for="medicoId" class="form-label">Medico</label>
                <select id="medicoId" th:field="${agenda.medico.id}" class="form-control">
                    <option value="" selected="selected">Selecione...</option>
                    <option th:each="medico: ${medicos}" th:value="${medico.id}" th:text="${medico.nome}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="pacienteId" class="form-label">Paciente</label>
                <select id="pacienteId" th:field="${agenda.paciente.id}" class="form-control">
                    <option value="" selected="selected">Selecione...</option>
                    <option th:each="paciente: ${pacientes}" th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="datetime-local" class="form-control" id="data" name="data" required>
            </div>

            <button type="submit" class="btn btn-success">Agendar</button>
            <a th:href="@{/agendamento/lista}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>