<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{index :: sidebar}"></div>

<div class="content">
    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <h2>Lista de Agendamentos</h2>
            <div>
                <a th:href="@{/agendamento}" class="btn btn-success">Adicionar<i class="bi bi-plus-circle ps-2"></i></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-light">
                <tr>
                    <th>Médico</th>
                    <th>Paciente</th>
                    <th>Data e hora de atendimento</th>
                    <th class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="agendamento : ${agendamentos}">
                    <td th:text="${agendamento.medico.nome}">0</td>
                    <td th:text="${agendamento.paciente.nome}">0</td>
                    <td th:text="${agendamento.data}">0</td>
                    <td>
                        <a th:href="@{'/agendamento/alterar/' + ${agendamento.id}}" type="button"
                           class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>

                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#modalRemover-' + ${agendamento.id}">
                            <i class="bi bi-trash"></i> Excluir
                        </button>

                        <div class="modal fade" th:id="'modalRemover-' + ${agendamento.id}" tabindex="-1" aria-labelledby="modalRemoverLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalRemoverLabel">Confirmar Remoção</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja remover este agendamento?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a th:href="@{'/agendamento/remover/' + ${agendamento.id}}" class="btn btn-danger">Remover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>