<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{index :: sidebar}"></div>

<div class="content">
    <div class="container mt-4">
        <h2>Cadastrar Médico</h2>
        <form th:action="@{/medico/salvar}" method="post">
            <input name="id" th:value="${medico.id}" type="text" hidden="true">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" th:value="${medico.nome}" id="nome" name="nome" placeholder="Nome completo do médico" required>
            </div>

            <div class="mb-3">
                <label for="crm" class="form-label">CRM</label>
                <input type="text" class="form-control" th:value="${medico.crm}" id="crm" name="crm" placeholder="Número do CRM" required>
            </div>

            <div class="mb-3">
                <label for="especialidade" class="form-label">Especialidade</label>
                <input type="text" class="form-control" th:value="${medico.especialidade}" id="especialidade" name="especialidade" placeholder="Ex: Cardiologia" required>
            </div>

            <button type="submit" class="btn btn-success">Salvar</button>
            <a th:href="@{/medico/lista}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

<div th:insert="~{index :: script}"></div>
</body>
</html>